* {
  box-sizing: border-box;
}
body {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  letter-spacing: 2px;
}

.mainDiv {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px;
  padding:30px 0px ;
}
input,
textarea {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  margin-top: 3px;
}

form {
  width: 90%;
}
.form-group {
  margin: 10px 0px;
}
button{
    width: 100%;
    border: none;
    padding: 15px 0px;
    background-color: green;
    color: white;
    font-size: 20px;
    margin-top: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius:5px;

}
.alertMessage{
    width: 90%;
    border: 1px solid black;
    margin-top:20px ;
    border-radius:5px ;
    display: flex;
    justify-content: center;

}
.title{
    margin-top: 0px;
}