* {
  margin: 0;
  padding: 0;
}

div {
  color: white;
  padding: 50px;
}
body {
  background-color: black;
}
h2 {
  color: white;
padding: 20px;
  font-size: 3em;
}
p{
color: white;
font-size: 2em;
font-family: sans-serif;
}

::-webkit-scrollbar{
    width: 15px;

}
::-webkit-scrollbar-thumb{
background: linear-gradient(transparent, #eb1d36,#b9fffb);
border: 2px solid black;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, #da0e26,#31b9b3);

}
